@font-face {
  font-family: "Questrial"; /*a name to be used later*/
  src: url("./assets/Questrial-Regular.ttf"); /*URL to font*/
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  color: #212121;

  font-family: "Poppins", sans-serif;
  --blue: var(#193b59);
  --lightblue: var(#1976d2);

  /* outline: 1px solid red; */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  height: clamp(550px, 65vh, 4000px);
  width: clamp(750px, 50vw, 4000px);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

/* Left Side */

.left-container {
  display: flex;
  position: relative;
}

#sailing {
  height: 100%;
}

.companyname {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  font-family: "Questrial";
  font-size: 5.5vh;
  color: white;
  letter-spacing: 0.2rem;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Right Side */

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  width: 55%;
  background-color: white;
}

/* Form */
.header-container {
  display: flex;
  margin: 1rem 1rem 1.5rem 1rem;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

form > p {
  font-size: 1.1rem;
  margin: 0 1.5rem 0.5rem 1.5rem;
  font-style: italic;
  font-weight: 300;
}

form > p:last-of-type {
  margin-bottom: 0.5rem;
}

section {
  width: 80%;
}

.input-field {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.75rem;
  margin: 5px 0 5px 0;
  font-weight: 400;
}

input {
  height: 3rem;
  border: 1px lightgray solid;
}

input,
input:placeholder-shown {
  font-size: 0.9rem;
  font-weight: 300;
  padding-left: 0.5rem;
}

input:not(:placeholder-shown):valid {
  border-color: green;
}
input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

section:first-of-type {
  margin-bottom: 1.5rem;
}

button,
.signupgoogle {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background-color: #193b59;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 15px;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.signupgoogle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #1976d2;
  border: 1px lightgray solid;
}

.signupgoogle > span {
  font-size: 1.1rem;
}

form > section > p {
  font-size: 1rem;

  font-weight: 300;
}

a {
  font-size: 1rem;
  font-weight: 300;
  text-decoration: underline;
  margin-left: 2px;
}

img {
  height: 1.5rem;
  margin-right: 0.75rem;
}
