@font-face {
  font-family: "Questrial"; /*a name to be used later*/
  src: url("./assets/Questrial-Regular.ttf"); /*URL to font*/
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  --white: var(--white);

  /* outline: 1px solid red; */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  height: clamp(550px, 65vh, 4000px);
  width: clamp(750px, 50vw, 4000px);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

/* Left Side */

.left-container {
  display: flex;
  position: relative;
}

#sailing {
  height: 100%;
}

.companyname {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  font-family: "Questrial";
  font-size: 5vh;
  color: white;
  letter-spacing: 0.2rem;
}

/* Right Side */

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  width: 55%;
  background-color: grey;
}

/* Form */

h2 {
  font-size: 2rem;
  margin: 1.5rem;
}

form > p {
  font-size: 1rem;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

section {
  width: 80%;
}

.input-field {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.5rem;
  margin: 5px 0 10px 0;
}

input {
  height: 3rem;
}
